{% extends "base.html" %}
{% load static %}

{% block content %}
{% if not billing_profile %}
<div class="row text-center">
    <div class="col-12 col-md-6">
        <p class="lead">Login</p>
        {% include "accounts/snippets/form.html" with form=login_form next_url=request.build_absolute_uri %}
    </div>
    <div class="col-12 col-md-6">
        <p class="lead">Continue as Guest</p>
        {% url 'guest_login' as guest_login %}
        {% include "addresses/form.html" with form=guest_form next_url=request.build_absolute_uri action_url=guest_login %}
    </div>
</div>
{% else %}
{% if not object.shipping_address %}
<div class="row">
    <div class="col-12">
        <p class="lead">Shipping address</p>
        <hr />
        <div class="row">
            <div class="col-6">
                {% url 'checkout_address_create' as checkout_address_create %}
                {% include "addresses/form.html" with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
            </div>
            <div class="col-6">
                {% url 'checkout_address_reuse' as checkout_address_reuse %}
                {% include "addresses/prev_addresses.html" with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse%}
            </div>
        </div>
    </div>
</div>
{% elif not object.billing_address %}
<div class="row">
    <div class="col-12">
        <p class="lead">Billing address</p>
        <hr />
        <div class="row">
            <div class="col-6">
                {% url 'checkout_address_create' as checkout_address_create %}
                {% include "addresses/form.html" with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
            </div>
            <div class="col-6">
                {% url 'checkout_address_reuse' as checkout_address_reuse %}
                {% include "addresses/prev_addresses.html" with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
            </div>
        </div>
    </div>
</div>
{% else %}
    {% if not has_card %}
    <!-- enter credit card here -->
    <div class="col-10 col-md-6 mx-auto">
            <h1>Add payment method</h1>
            <p>4000058260000005</p>
            <div class="stripe-payment-form" data-next-url="{{ request.build_absolute_uri }}" data-token='{{ publish_key }}' data-btn-title="Add Payment Method"></div>
        </div>

    <script src="{% static 'js/stripe_dev.js'%}"></script>

    {% else %}
    <p>Cart Items: {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

    <h1>Finalize Checkout</h1>
    <p>Shipping address: {{ object.shipping_address.get_address }}</p>
    <p>Billing address: {{ object.billing_address.get_address }}</p>
    <p>Payment method: {{ billing_profile.default_card }} (<a href="{{billing_profile.get_payment_method_url}}?next={{ request.build_absolute_uri }}">Change</a>)</p>
    <p>Cart Total: {{ object.cart.total }} $</p>
    <p>Shipping Total: {{ object.shipping_total }} $</p>
    <p>Order Total: {{ object.order_total }} $</p>
    <form class="form" action="" method="POST">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Checkout</button>
    </form>
    {% endif %}
{% endif %}
{% endif %}
{% endblock %}